<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{323,1133},{152,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{188,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{195,1},{188,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{192,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{188,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,127},{188,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{381,127},{184,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{180,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{373,313},{180,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{369,495},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{170,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,755},{170,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{168,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{173,755},{168,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{341,923},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{160,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{167,1007},{160,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{349,673},{156,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,253},{184,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{152,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{317,1257},{152,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{188,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{191,127},{188,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{187,253},{184,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{180,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,379},{180,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,503},{176,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,629},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{168,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,879},{168,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{164,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1005},{164,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{160,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1131},{160,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,1257},{156,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{180,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{187,377},{180,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{152,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{323,1133},{152,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{179,503},{176,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{172,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{175,629},{172,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{168,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{171,881},{168,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{162,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{343,799},{162,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{158,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{163,1133},{158,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{156,124}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{159,1257},{156,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{506,1382}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bad23ccc19d70e0fba98bad087c4fd94:8ed9ab9b132382764a5815b9ce989310:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
