<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_robot_walk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-17}</string>
                <key>spriteSize</key>
                <string>{78,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{78,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_robot_walk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{215,1},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_robot_walk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-18}</string>
                <key>spriteSize</key>
                <string>{62,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{151,1},{62,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_robot_walk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-17}</string>
                <key>spriteSize</key>
                <string>{68,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{81,1},{68,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Robot1.png</string>
            <key>size</key>
            <string>{284,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4c1caf02625e9db33b1bf99482180fb:b67d95d2121b51a938bbc90a8d1c2397:079cdd3ccc62c9d7855c348ab6a7ae73$</string>
            <key>textureFileName</key>
            <string>Robot1.png</string>
        </dict>
    </dict>
</plist>
